/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
'3422'
'Blanditiis
'Error
'Et
'Libero
'Libero
'Odit
'Voluptatem
'Voluptatem
--
--
.E.F
1)
ERRORS!
database/factories/WordFactory.php
Failed
php
tests/Unit/WordTest.php
tests/Feature/WordTest.php
TypeError
Time
There
syntax
n
n
Expected
2020386655
PHPUnit
